@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It is demo home page for example, Please go to Item tab for demo CRUD operations.</p>
</div>
